.menubar{
    margin-top: 20px;
}
.page-header {
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.card {
    background-color: cornflowerblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height:10%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 1px 10px;
}
.data{
    color: white;
}